<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abayat app</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>welcome to the Abaya app</h1>

    <img
      class="abaya-pic1"
      src="008.jpg"
      alt="Abaya fashon"
    />

    <p>An app for latest collecting of fav abaya </p>
     <a class="fruits-index-link" href="/abayas">Browse Abays</a>

</body>

  <footer>
    Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a>
  </footer>
</html>